
<?xml version="1.0" encoding="utf-8" ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
  <head> 
    <title>test</title> 
    <style type="text/css"> 
body {
    background-color:#ff0000;
    text-align: center;
    margin:0;
    padding:0;
}
div {
  padding: 0;
  margin: 0;
background: #a4a4a4;
display: inline-block;
}
#colmask {
    background-color:#bbbbbb;
    width:100%;
}
#footer {
    background-color:#a4a4a4;
    width:100%;
}
    </style> 
  </head> 
  <body> 
    <div id="colmask"> 
      testing
    </div><div id="footer"> 
      another test
    </div> 
  </body> 
</html> 
