<!DOCTYPE html>
<html>
<head>
  <title>Ruben | Do you know ruby?</title>
  <%= stylesheet_link_tag :all %>

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/jquery-ui.min.js"></script>
  
  <%= csrf_meta_tag %>
</head>
<body>

  <div style="width:600px;margin:auto;background:#f3f3f3;position:relative;">

    <div style="text-align:center;background:#db7093;padding:10px;">
      <h1>RUBEN</h1>
      <p>
        Get better at Ruby.
      </p>
    </div>

    <div style="position:relative;min-height:300px;margin:20px;">
      <%= yield %>
    </div>

    <div style="border-top: 1px solid #ddd;text-align:center;background:#e4e4e4;font-size:10px;">
      Chris Doyle
    </div>
  </div>

</body>
</html>
