<!DOCTYPE html>
<html>
<head>
  <title>RCards</title>
  <%= stylesheet_link_tag :all %>

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/jquery-ui.min.js"></script>
  
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
